<div class="accordion">
  <ol>
    <% sections.each do |section| %>
      <%= tag.li(class: section.heading) do %>
        <%= tag.h3(section.heading) %>
        <%= tag.div(section) %>
      <% end %>
    <% end %>
  </ol>
</div>
